:root {
  --background-color: #1e1f29;
  --input-back-color: #2e2d3d;
  --label-text-color: #afb2bf;
  --text-color: #fafafa;
}

main {
  background-color: var(--background-color);
}

h1 {
  color: var(--text-color);
}

input,
textarea,
select {
  background-color: var(--input-back-color);
  color: var(--text-color);
}

label {
  color: var(--label-text-color);
}

button {
  background-color: #6c38cc;
  color: var(--text-color);
}
