/* Sections */
.section-blue {
    background-color: var(--color-primary);
}

/*Titles*/
.title {
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: var(--color-dark);
    margin-bottom: var(--standard-indent);
}

.title_light {
    font-weight: 800;
    font-size: 40px;
    line-height: 120%;
    color: var(--color-secondary);
}

.title_big {
    width: 100%;
    margin-bottom: 40px;
}

@media (max-width: 640px) {
    .title {
        font-size: 36px;
        text-align: start;
    }
}

.subtitle {
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    text-align: center;
    color: var(--color-medium-dark);
    margin-bottom: 40px;
}

@media (max-width: 640px) {
    .subtitle {
        text-align: start;
        margin-bottom: 32px;
    }
}

/*Cards*/
.tariff__card {
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-radius: var(--border-8);
    box-shadow: var(--shadow-primary);
    padding: 48px 40px 48px 40px;
}

@media (max-width: 640px) {
    .tariff__card {
        padding: 48px 24px 48px 24px;
    }
}

.tariff__card-title {
    font-weight: 800;
    font-size: 32px;
    line-height: 120%;
    color: var(--color-dark);
    margin-bottom: 16px;
}

.tariff__card-subtitle {
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    color: var(--color-medium-dark);
    width: 100%;
    min-height: 72px;
}

.tariff__card-description {
    color: var(--color-text);
    font-weight: 500;
    font-size: 17px;
    line-height: 120%;
    margin-bottom: 40px;
}

.tariff__card-item {
    border-bottom: 1px solid rgba(78, 93, 124, 0.08);
}

.tariff__card-item:last-child {
    border-bottom: none;
}

.card-item__name {
    display: inline-block;
    width: 100%;
    max-width: 168px;
    padding: 16px 0;
}

/*Buttons*/
.button {
    border: none;
    border-radius: var(--border-47);
    padding: 12px 63px;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    font-weight: 800;
    font-size: 17px;
    line-height: 140%;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: 100%;
}

.button:hover {
    background-color: #7ba0e2;
}

/* Advantages cards */
.advantages-wrapper {
    display: flex;
    gap: 120px;
    justify-content: center;
}

.advantages-item_hero {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.advantages-item-text {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: var(--color-dark);
}
