.footer {
    background-color: var(--bg-dark);
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: calc(1392px + 48px);
    padding: 80px 24px 32px 24px;
}

.footer__wrapper .divider {
    border: none;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.08);
    width: 100%;
    margin-bottom: 32px;
}

.footer__upper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__about {
    display: flex;
    flex-direction: column;
    gap: var(--standard-indent);
}

.footer__about p {
    text-align: start;
    color: rgba(255, 255, 255, 0.7);
}

.menu-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-footer__link {
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.5);
}

.menu-footer__link:hover {
    color: var(--color-secondary);
}

.requisites__items {
    margin-top: -4px;
}

.requisites__items a {
    color: rgba(255, 255, 255, 0.5);
}

.requisites__item {
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 10px;
}

.requisites__item:hover {
    color: rgba(255, 255, 255, 0.7);
}

.footer__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright {
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.7);
}

.footer__pays {
    display: flex;
    gap: var(--standard-indent);
}

@media (max-width: 960px) {
    .footer__upper {
        flex-direction: column;
        padding-inline: var(--standard-indent);
        gap: 8px;
    }

    .nav-block,
    .requisites {
        margin-bottom: 40px;
    }

    .footer__footer {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: var(--standard-indent);
    }
}
