.footer {
    background-color: var(--bg-dark);
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: calc(1392px + 48px);
    padding-inline: var(--standard-indent);
}
