/* Header */
.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: calc(1390px + 24px * 2);
    padding: 40px 24px;
}

.header__wrapper .button {
    color: var(--color-primary);
    background-color: var(--color-secondary);
    padding: 12px 32px;
    border-radius: 34px;
}

.header__wrapper .button:hover {
    background-color: #ebebeb;
}

.header__mobile-menu-button {
    display: none;
    background: none;
    border: none;
}

@media (max-width: 960px) {
    .header__mobile-menu-button {
        display: block;
    }
}

/* Nav Menu */
.nav-menu {
    list-style: none;
    display: flex;
    width: 100%;
    gap: 32px;
}

.nav-menu__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: var(--color-meduim-lightest);
}

.nav-menu__link:hover {
    color: var(--color-secondary);
}

@media (max-width: 960px) {
    .nav-menu {
        display: none;
    }

    .header__button-wrapper {
        display: none;
    }
}
