/* Header */
.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: calc(1390px + 24px * 2);
    padding: 40px 24px;
}

.header__wrapper .button {
    color: var(--color-primary);
    background-color: var(--color-secondary);
    padding: 12px 32px;
    border-radius: 34px;
}

.header__wrapper .button:hover {
    background-color: #ebebeb;
}

.header__mobile-menu-button {
    display: none;
    background: none;
    border: none;
}

@media (max-width: 960px) {
    .header__mobile-menu-button {
        display: block;
    }
}

/* Nav Menu */
.nav-menu {
    list-style: none;
    display: flex;
    width: 100%;
    gap: 32px;
}

.nav-menu__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: var(--color-meduim-lightest);
}

.nav-menu__link:hover {
    color: var(--color-secondary);
}

@media (max-width: 960px) {
    .nav-menu {
        display: none;
    }

    .header__button-wrapper {
        display: none;
    }
}

/* Hero */
.section-hero {
    position: relative;
    padding: 60px 0 40px 0;
    background: transparent;
}

.section-hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--color-primary);
    clip-path: polygon(0 0, 100% 0, 100% 48%, 0 68%);
    z-index: 0;
}

.hero__wrapper {
    max-width: calc(1495px + 24px * 2);
    margin: 0 auto;
    padding: 0 24px;
    position: relative;
    z-index: 1;
}

.hero__wrapper-sides {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 80px;
}

.hero-left {
    display: flex;
    flex-direction: column;
}

.hero-left .button {
    color: var(--color-primary);
    background-color: var(--color-secondary);
    padding: 12px 32px;
    border-radius: 34px;
    margin-bottom: 80px;
}

.hero-left .button:hover {
    background-color: #ebebeb;
}

.hero-logos {
    display: flex;
    flex-direction: column;
}

.hero-logos__first-row {
    display: flex;
    gap: 18px;
    margin-bottom: 22px;
    align-items: center;
}

.hero-logos__second-row {
    display: flex;
    gap: 24px;
    align-items: start;
}

.aliexpress {
    padding-top: 3px;
}
