:root {
	--main-color: #f3f6fd;
	--primary-blue: #5051f9;
	--secondary-blue: #6a6afb;
	--secondary-color: #fbfaff;
	--white-color: #ffffff;
	--main-text-color: #000000;
	--light-hover-color: #eff2ff;
	--border-color: #e7ebfb;
	--grey-for-text: #768396;
	--font-weight-nornal: 400;
	--font-family: "Comfortaa", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

* {
	box-sizing: border-box;
}

body {
	font-family: var(--font-family);
	margin: 0;
	background-color: var(--main-color);
}

h1 {
	font-family: var(--font-family);
	font-weight: var(--font-weight-nornal);
	font-size: 30px;
	line-height: 33px;
	color: var(--main-text-color);
	max-width: 40%;
}

h2 {
	font-family: var(--font-family);
	font-weight: var(--font-weight-nornal);
	font-size: 24px;
	text-align: center;
	line-height: 27px;
	color: var(--main-text-color);
}

.app {
	display: flex;
}

.logo {
	margin-bottom: 50px;
}

.panel {
	background-color: var(--secondary-color);
	min-height: 100vh;
	padding: 30px;
}

.menu {
	display: flex;
	flex-direction: column;
	gap: 25px;
	align-items: center;
}

.menu__list {
	display: flex;
	flex-direction: column;
	gap: 25px;
	align-items: center;
}

.menu__item {
	background: var(--white-color);
	box-shadow: 0px 8px 14px rgba(62, 107, 224, 0.12);
	border-radius: 14px;
	border: none;
	height: 45px;
	width: 45px;
	cursor: pointer;
}

.menu__item:hover {
	background: var(--secondary-blue);
}

.menu__item:hover img {
	filter: brightness(0) invert(1);
}

.menu__item_active {
	background: var(--primary-blue);
}

.menu__item_active img {
	filter: brightness(0) invert(1);
}

.menu__add {
	border: 1px solid #cad5ff;
	border-radius: 14px;
	width: 46px;
	height: 45px;
	background: none;
	cursor: pointer;
}

.menu__add:hover {
	background: var(--light-hover-color);
}

.content {
	min-width: 900px;
	padding: 45px;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.progress {
	display: flex;
	flex-direction: column;
	gap: 12px;
	min-width: 235px;
}

.progress__text {
	display: flex;
	justify-content: space-between;
}

.progress__name {
	font-family: var(--font-family);
	font-weight: var(--font-weight-nornal);
	font-size: 14px;
	line-height: 16px;
	color: #232360;
}

.progress__percent {
	font-family: var(--font-family);
	font-weight: var(--font-weight-nornal);
	font-size: 12px;
	line-height: 13px;
	color: var(--grey-for-text);
}

.progress__bar {
	width: 100%;
	background: #e6e9ed;
	border-radius: 4px;
	height: 5px;
	position: relative;
}
.progress__cover-bar {
	position: absolute;
	transition: all 0.5s;
	border-radius: 4px;
	height: 5px;
	background: var(--primary-blue);
}

main {
	margin-top: 30px;
}

.habbit {
	border-radius: 10px;
	background-color: var(--white-color);
	display: flex;
	align-items: center;
	margin-bottom: 12px;
}

.habbit__day {
	background: var(--secondary-color);
	border-radius: 10px 0 0 10px;
	border-right: 1px solid var(--border-color);
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	padding: 20px 40px;
	min-width: 150px;
}

.habbit__comment {
	font-size: 16px;
	line-height: 16px;
	padding: 20px 25px;
	color: #23235f;
}

.habbit__delete {
	margin-left: auto;
	margin-right: 10px;
	background: none;
	border: none;
	cursor: pointer;
	border-radius: none;
	padding: 2px;
}

.habbit__delete:hover {
	background: var(--light-hover-color);
}

input {
	background: var(--white-color);
	border: 1px solid var(--border-color);
	border-radius: 9px;
	padding: 12px 20px;
	font-family: var(--font-family);
	flex: 1;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
}

input::placeholder {
	color: #8899a8;
}

input.error {
	border: 1px solid red;
}

.habbit__form {
	display: flex;
	gap: 15px;
	width: 100%;
	padding: 0 10px 0 25px;
	position: relative;
}

.input_icon {
	padding-left: 45px;
}

.input__icon {
	position: absolute;
	top: 10px;
	left: 45px;
}

.button {
	border-radius: 9px;
	font-family: var(--font-family);
	border: none;
	background: #edecfe;
	font-weight: 500;
	font-size: 13px;
	color: var(--primary-blue);
	line-height: 14px;
	padding: 14px 32px;
	cursor: pointer;
}

.button:hover {
	background: #dcdaff;
}

.button_delete {
	background: #feecf4;
	color: #f95080;
}

.button_delete:hover {
	background: #ffdaeb;
}

.cover {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.3);
	display: flex;
	align-items: center;
	justify-content: center;
}

.cover_hidden {
	display: none;
}

.popup {
	border-radius: 10px;
	max-width: 600px;
	width: 100%;
	box-shadow: 0 8px 14px 12px rgba(56, 56, 56, 0.05);
	background: var(--white-color);
	padding: 22px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.popup__close {
	position: absolute;
	right: 16px;
	top: 16px;
	border: none;
	background: none;
	cursor: pointer;
}

.icon-label {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: var(--grey-for-text);
	margin-bottom: 10px;
}

.icon-select {
	display: flex;
	gap: 25px;
	margin-bottom: 20px;
}

.icon {
	border: 1px solid var(--primary-blue);
	border-radius: 14px;
	background: var(--white-color);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 45px;
	height: 45px;
	cursor: pointer;
}

.icon:hover {
	background: var(--secondary-blue);
}

.icon:hover img {
	filter: brightness(0) invert(1);
}

.icon_active {
	background: var(--primary-blue);
}

.icon_active img {
	filter: brightness(0) invert(1);
}

.popup__form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

.popup__form input {
	width: 100%;
}
