:root {
  --link-color: #4262ff;
  --text-color: #050038;
  --text-color-light: rgba(5, 0, 56, 0.6);
  --text-white: #ffffff;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  max-width: 1200px;
  margin-inline: auto;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  padding: 33px 50px;
  border-bottom: 1px solid #f0f0f0;
  max-width: 1200px;
}

h1,
h2 {
  margin: 0;
}

h1 {
  margin-bottom: 17px;
}

h2 {
  margin: 60px 0 19px;
}

p {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

a {
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.navWrapper {
  display: flex;
}

.navHead {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 34px;
  padding: 0;
  margin: 0;
}

.navHeadList {
  color: var(--text-color);
}

.sectionPlaceWrapper {
  display: flex;
  margin: 60px 50px 140px 40px;
}

.placeWrapper2 {
  display: flex;
  gap: 100px;
  margin: 0 50px 60px 40px;
  align-items: center;
}

.section-reverse {
  flex-direction: row-reverse;
}

.placeLeft {
  display: flex;
  flex-direction: column;
  margin-right: 65px;
}

.bigHeader {
  color: var(--text-color);
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 1px;
  width: 100%;
}

.headerSubtitle {
  color: var(--text-color);
  margin: 0 0 55px 0;
  width: 100%;
}

.heroInput {
  display: flex;
  border-radius: 32px;
  border: 1px solid #9b99af;
  height: 48px;
  width: 100%;
  margin-bottom: 10px;
}

#heroButton {
  display: flex;
  background-color: var(--link-color);
  color: #ffffff;
  border-radius: 32px;
  border: none;
  height: 48px;
  font-size: 18px;
  line-height: 27px;
  padding: 10px 20px 10px 130px;
  width: 100%;
  cursor: pointer;
}

.formSubtitle {
  font-size: 14px;
  line-height: 20px;
  color: var(--text-color);
  margin: 8px 0 52px 0;
}

.placeUsers {
  display: flex;
  gap: 20px;
  align-items: center;
}

.usersCount {
  width: 190px;
  color: var(--text-color);
}

.description {
  color: var(--text-color-light);
  margin: 0 0 40px 0;
}

.bodyLink {
  color: var(--link-color);
  font-size: 18px;
  line-height: 24px;
  text-decoration: underline;
}

.listDesign {
  list-style-type: none;
}

.desingAdv {
  color: var(--text-color-light);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.desingAdv::before {
  content: url("/assets/Frame.svg");
}

.wrapperDesign {
  margin: 0 50px 44px 40px;
}

.footer {
  background-color: var(--text-color);
  padding: 47px 40px;
}

.footerWrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  padding: 0 40px;
}

.author {
  color: var(--text-white);
  font-size: 16px;
  line-height: 24px;
}

.footerLink {
  color: var(--text-white);
  margin-left: 24px;
}
