body {
  background: linear-gradient(180deg, #fdc5c5 0%, #f39494 100%);
  background-repeat: no-repeat;
  min-width: 50vw;
  min-height: 70vh;
}

.register-form {
  background-color: #fffefe;
  font-family: "Open Sans", sans-serif;
  width: 582px;
  height: 573px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.register-form__title {
  font-size: 36px;
  color: #333333;
}

.register-form__subtitle {
  font-size: 18px;
  color: #666666;
}

.register-form__login-link a {
  color: #089fe0;
}

.register-form__input {
  font-size: 16px;
}

.register-form__input::placeholder {
  color: #999999;
  font-style: italic;
}

.register-form__submit {
  background-color: #089fe0;
  color: #ffffff;
  font-size: 18px;
}

.register-form__label {
  font-size: 14px;
  color: #666666;
}

.register-form__terms-link a {
  color: #089fe0;
  text-decoration: none;
}
