/*Section*/
.section_light {
  background-color: var(--color-bg-medium);
}

/*Buttons*/
.button-ps {
  border-radius: 10px;
  padding: 16px 32px;
  height: 54px;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  color: var(--color-text);
  background: none;
  cursor: pointer;
}

.button-ps_purple {
  border: none;
  background-color: var(--color-primary);
  width: 180px;
}

.button-ps_purple:hover {
  background-color: var(--color-primary-hover);
}

.button-ps_ghost {
  border: 1px solid var(--color-stroke);
  background-color: transparent;
  width: 150px;
}

.button-ps_ghost:hover {
  background-color: var(--color-bg-medium);
}

@media (max-width: 640px) {
  .button-ps {
    padding: 12px 32px;
  }
}
