/*Section*/
.section_light {
  background-color: var(--color-bg-medium);
}

/*Buttons*/
.button-ps {
  border-radius: 10px;
  padding: 16px 32px;
  height: 54px;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  color: var(--color-text);
  background: none;
  cursor: pointer;
  display: inline;
}

.button-ps_purple {
  border: none;
  background-color: var(--color-primary);
}

.button-ps_purple:hover {
  background-color: var(--color-primary-hover);
}

.button-ps_ghost {
  border: 1px solid var(--color-stroke);
  background-color: transparent;
}

.button-ps_ghost:hover {
  background-color: var(--color-bg-medium);
}

.button-ps_blog {
  border: 1px solid var(--color-stroke);
  background-color: transparent;
}

.button-ps_blog:hover {
  background-color: var(--color-bg-medium);
}

@media (max-width: 640px) {
  .button-ps {
    padding: 12px 32px;
  }
}

/*Social*/
.social-icons {
  display: flex;
  align-items: center;
  gap: 24px;
}

.social-icons__icon {
  border: 1px solid var(--color-stroke);
  border-radius: 8px;
  text-decoration: none;
  padding: 11px;
  width: 48px;
  height: 48px;
}

.social-icons__icon:hover {
  background-color: var(--color-bg-medium);
}

/* Headings */
.supertitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: var(--color-secondary);
  margin: 0 0 8px 0;
}

.title {
  font-size: 46px;
  line-height: 120%;
  color: var(--color-text);
  font-weight: 400;
  margin-bottom: 32px;
}

.subtitle {
  font-size: 18px;
  line-height: 150%;
  color: var(--color-text);
  width: 90%;
}

.post__header {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: var(--color-text);
}

.post__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-text);
  width: 88%;
}

.card {
  background-color: var(--color-bg-medium);
  border-radius: 10px;
}
