:root {
  --color-primary: #6c38cc;
  --color-primary-hover: #5b2bb2;
  --color-secondary: #e47ad5;
  --color-text: #fafafa;
  --color-link-hover: #afb2bf;
  --color-bg: #16171d;
  --color-bg-lightest: #2e2d3d;
  --color-bg-medium: #1e1f29;
  --color-stroke: #4d5064;
  --color-footer: #101114;

  --gradient: linear-gradient(158deg, #d77be5 0%, #be63e5 34.69%, #6c38cc 100%);

  --border-8: 8px;
  --layout-width: 1172px;
}

* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  background: var(--color-bg);
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0;
}
