/*Opening*/
.opening {
  display: flex;
  justify-content: space-between;
  max-width: var(--layout-width);
  margin: 0 auto;
  padding: 72px 24px;
  align-items: center;
}

.opening__left {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.opening__text {
  margin: 0;
  font-weight: 700;
  font-size: 54px;
  line-height: 100%;
  color: var(--color-text);
}

.opening__text_gradient {
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.opening__buttons {
  display: flex;
  column-gap: 32px;
}

@media (max-width: 1200px) {
  .opening {
    flex-direction: column;
  }

  .opening__buttons {
    justify-content: center;
  }

  .opening__text {
    text-align: center;
  }
}

@media (max-width: 640px) {
  .opening__text {
    font-size: 30px;
    line-height: 120%;
  }

  .opening__right {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .opening {
    padding: 0 24px;
  }
}

@media (max-width: 480px) {
  .opening {
    padding: 0 24px;
  }

  .opening__buttons {
    gap: 16px;
  }
}

/*Blog*/
.blog {
  display: flex;
  flex-direction: column;
  max-width: var(--layout-width);
  margin: 0 auto;
  padding: 100px 24px;
}

.blog__head {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}

.blog__posts {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.subtitle__blog {
  margin-bottom: 32px;
}

.post {
  width: 100%;
  border: none;
  display: flex;
}

.post__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 32px;
}

.stats-wrapper {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.stats-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.stats-item__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-align: right;
  color: var(--color-link-hover);
  padding-left: 6px;
}

.post__button {
  margin: 35px 40px 0 0;
}

.button-all {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

@media (max-width: 860px) {
  .post {
    flex-direction: column;
  }

  .post__button {
    display: block;
    margin: 16px;
    width: 100%;
  }

  .post__button button {
    width: 90%;
  }
}

/* catalog */
.catalog__buttons-set .button-ps {
  padding: 8px 16px;
}
