/*Opening*/
.opening {
  display: flex;
  justify-content: space-between;
  max-width: var(--layout-width);
  margin: 0 auto;
  padding: 72px 24px;
  align-items: center;
}

.opening__left {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.opening__text {
  margin: 0;
  font-weight: 700;
  font-size: 54px;
  line-height: 100%;
  color: var(--color-text);
}

.opening__text_gradient {
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.opening__buttons {
  display: flex;
  column-gap: 32px;
}

@media (max-width: 1200px) {
  .opening {
    flex-direction: column;
  }

  .opening__buttons {
    justify-content: center;
  }

  .opening__text {
    text-align: center;
  }
}

@media (max-width: 640px) {
  .opening__text {
    font-size: 30px;
    line-height: 120%;
  }

  .opening__right {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .opening {
    padding: 0 24px;
  }
}

@media (max-width: 480px) {
  .opening {
    padding: 0 24px;
  }

  .opening__buttons {
    gap: 16px;
  }
}

/*Blog*/
.blog {
  display: flex;
  flex-direction: column;
  max-width: var(--layout-width);
  margin: 0 auto;
  padding: 100px 146px;
}

.blog__head {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}
