/*Opening*/
.opening {
  display: flex;
  justify-content: space-between;
  max-width: var(--layout-width);
  margin: 0 auto;
  padding: 72px 24px;
  align-items: center;
}

.opening__left {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.opening__text {
  margin: 0;
  font-weight: 700;
  font-size: 54px;
  line-height: 100%;
  color: var(--color-text);
}

.opening__text_gradient {
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.opening__buttons {
  display: flex;
  column-gap: 32px;
}
